DB_HOST=
DB_PORT=
DB_USER=avnadmin
DB_PASSWORD=
DB_NAME=torlan_pos
DB_SSL_CA=./certs/aiven-ca.pem

# Solo para la primera carga. Borralas del archivo despues de sembrar.
SEED_ADMIN_PASSWORD=
SEED_GLOBAL_PASSWORD=
